.modalClass{
    position: fixed;
    overflow-y: scroll;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:white;
    z-index: 10000;
    height: 100vh;
    animation: cardSlideIn 0.75s;
    overflow-x: hidden;
}

.modalClassExit{
    position: fixed;
    overflow-y: scroll;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:white;
    z-index: 10000;
    animation: cardSlideOut 0.75s;
    overflow-x: hidden;
}

@keyframes cardSlideIn {
    from{
        top:800px;
    }
    to{
        top: 0;
    }
}

@keyframes cardSlideOut {
    from{
        top:0;
    }
    to{
        top:1000px;
    }
}