.inactive{
    background:#ebebeb
}

.active{
    background:#DB6400;
    color:white;
    transition: 0.5s ease all;
}

.foodCardFadeIn{
    position: relative;
    animation: cardSlideIn 1s;
}

@keyframes cardSlideIn {
    from{
        left:-400px;
    }
    to{
        left:0;
    }
}