.stepBox{
    position: relative;

}

.boxDot{
    position: absolute;
    background: #F0A500;
    height:10px;
    width: 10px;
    border-radius: 50%;
    left:-5px;
    top:-2px
}

.headerText{
    position: absolute;
    top: -8px;
    left:20px;
    right:0;
    width:90%
}